$sidenav-width: 320px;
$sidebar-width: 350px;
$topbar-height: 0px;
$primary-color: #fffafa;
// $primary-color: #303030;

$green-color: #50d0bc;
$red-color: #ff7782;
$blue-color: #45bfff;
$bluer-color: #1b9dfe;
$yellow-color: #ffbb55;
$purple-color: #717eee;

$primary-text-color: white;
$secondary-text-color: #818181;
// $secondary-color:
.greenColor {
  background-color: $green-color;
  color: white;
}
.redColor {
  background-color: $red-color;
  color: white;
}
.blueColor {
  background-color: $blue-color;
  color: white;
}
.bluerColor {
  background-color: $bluer-color;
  color: white;
}
.yellowColor {
  background-color: $yellow-color;
  color: white;
}
.purpleColor {
  background-color: $purple-color;
  color: white;
}

.secondaryTextColor {
  color: $secondary-text-color;
}

// .backgroundImg {
//   height: 100vh;
//   width: 100%;
//   color: white;
//   text-align: center;
//   padding-top: 400px;
//   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
//     url("../../../Icons/music-image.jpg");
//   background-repeat: no-repeat;
//   background-size: cover;
// }

//DASHBOARD SECTION
.dashboardDiv {
  min-height: 100%;
  text-align: left;
  margin-right: $sidebar-width;
  margin-left: $sidenav-width;
  padding: 2%;
  background-color: $primary-color;
}
//END OF DASHBOARD

// SIDEBAR SECTION
.sidebar {
  height: 100%;
  width: $sidebar-width;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0px;
  margin-top: $topbar-height;
  padding: 25px;
  border-left: 3px solid #e8e8e8;
  overflow: scroll;
  background-color: $primary-color;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.sidebarSectionTitle {
  font-weight: 700;
  font-size: 1em;
}
.userContainer {
  display: flex;
  background: $green-color;
  height: 65px;
  margin-bottom: 200px;
  border-radius: 15px;
  padding-left: 20px;
  width: 80%;
  align-items: center;
  margin: auto;
  color: white;
}

.userImg {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 15px;
  margin-right: 5px;
}
.popularSection {
  margin-top: 15px;
}
.popularContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 0;
  margin-bottom: 15px;
}
.popularSong {
  text-align: center;
  font-weight: 500;
  font-size: 0.9em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.popularSong img {
  border-radius: 10px;
  width: 60px;
  height: 60px;
}
.likedArtistSection {
  margin-top: 15px;
}
.likedArtistContainer {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 0.9em;
}

.likedArtist {
  margin: 10px;
  width: 100%;
}
.likedArtistText {
  display: inline-block;
}
.likedArtist img {
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: 60px;
  height: 60px;
}
.numArtistSaved {
  font-size: 0.9em;
}
.statSection {
  margin-top: 15px;
}
.statsContainer {
  display: block;
}
.stat {
  display: flex;
  margin-top: 10px;
  width: 100%;
  font-weight: 500;
  font-size: 0.9em;
}
.sidebarIcon {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 15px;
  text-align: center;
  line-height: 55px;
  margin-right: 5px;
  color: white;
}
// .statDetails{
//   display:block;
//   // background:red;
// }
.detailTitle {
  font-weight: 600;
}
.statIcon {
  margin: 0 auto;
}
//END OF SIDE BAR SECTION

//SIDE NAV SECTION
.sidenav {
  height: 100%;
  width: $sidenav-width;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0px;
  padding-top: 15px;
  padding-left: 25px;
  border-right: 3px solid #e8e8e8;
  margin-top: $topbar-height;
  overflow: scroll;
}
.mainTitle {
  font-weight: 600;
  font-size: 1.15em;
}
ul {
  li {
    list-style: none;
  }
  padding: 0;
}
.navSelection:hover {
  background-color: #ebfdef;
}
.sidenav a:hover {
  text-decoration: none;
}
.sidenav::-webkit-scrollbar {
  display: none;
}

.navHeader {
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
}
.titleLogo {
  font-size: 1.4em;
  font-weight: 500;
  margin-left: 8%;
}
// .navTitleLogo {
//   display: none;
// }

.navTitle {
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
}
.navTools {
  margin-bottom: 50px;
  margin-top: 50px;
}
.navSelection {
  color: #818181;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border-radius: 15px;
  height: 45px;
  text-decoration: none;
  padding-left: 10px;
  width: 80%;
}
.navSelected {
  background-color: $bluer-color;
  color: white;
}
.navLink {
  color: inherit;
}
.navIcon {
  margin-right: 10px;
  font-size: 1.2em;
}
.dashboardTitle {
  display: inline-block;
  margin-left: 100px;
  font-weight: bold;
  margin-bottom: 15px;
}
.hidden {
  display: none;
}
.show {
  display: block;
}
.navSelection:hover {
  background-color: #ebfdef;
}
.sidenav a:hover {
  text-decoration: none;
}
.navImg {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}
.navTools span {
  font-weight: bold;
  vertical-align: middle;
}
.dashboardNavToggle {
  // display:none;
  // background:blue;
}

.dashboardToggleTitle {
  display: flex;
}
// Topbar
.topbar {
  background-color: blue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: $sidenav-width 1fr $sidebar-width;
  // height: $topbar-height;
}
.closedBar {
  display: none;
}

.sidenavExtension {
  display: grid;
  grid-template-columns: 80px ($sidenav-width - 80px);
  width: $sidenav-width;
  height: $topbar-height;
}
.sidebarExtension {
  width: $sidebar-width;
  height: $topbar-height;
  background-color: $primary-color;
}
.dashboardExtension {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topbarNav {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}
.topbarNav li {
  padding: 0px 20px;
}
.topbarNav li a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: gray;
  font-size: 1.32em;
  text-decoration: none;
  white-space: nowrap;
}
.boxIcon {
  font-size: 2em;
  // margin:auto;
  margin-right: 30px;
}
.toggleSidebar {
  text-align: center;
}
// .cartContainer{
//   float:right;
//   width:50px;
//   height:100%;
//   background:blue;
// }
.verticalCenter {
  display: flex;
  align-items: center;
}
.fixedToggle {
  display: block;
  position: fixed;
  top: 15px;
  left: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 15px;
  background-color: $blue-color;
  color: white;
  border: 3px solid #e8e8e8;
  text-align: center;
}
.fixedToggle a {
  color: inherit;
}
.toggleIcon {
  color: inherit;
  font-size: 1.5em;
  margin: auto;
}

@media only screen and (max-width: 800px) {
  body {
    // background-color: red;
  }
  #dashboardDiv {
    margin-left: 0px;
  }
  // .sidenav {
  //   display: none;
  // }
}

@media only screen and (max-width: 1440px) {
  .sidebar {
    display: none;
  }
  .sidenav {
    width: 80px;
    padding: 0;
    text-align: center;
  }
  .sidenav span {
    display: none;
    text-align: center;
  }
  .dashboardDiv {
    margin-right: 0px;
    margin-left: 80px;
  }
  .userName {
    display: none;
  }
  .navIcon {
    margin: 0;
    padding: 0;
  }
  .navSelection {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .topbar {
    grid-template-columns: $sidenav-width 1fr 80px;
  }
  .sidebarExtension {
    border: none;
  }
  .titleLogo {
    // display: none;
    // background: blue;
    padding-top: 20px;
    margin: 0;
  }
  .navHeader {
    display: block;
    // background:blue;
    padding-top: 15px;
    // padding-left: 15px;
  }
  .dashboardTitleLogo {
    display: block;
  }
}

.closedToggle {
  border: none;
}
.largeDashboard {
  margin-left: 0px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  .retina-logo {
    display: block;
    text-align: center;
    max-height: 43px;
    max-width: 350px;
    margin-top: 15px;
  }
  .retina-logo img {
    width: 100%;
    height: auto;
  }
}
