.function-button{
    height:200px;
    width:166px;
    margin:20px;

}
.button-img{
    width:50px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5px;

}

.function-board{
    width:100%;
    background:green;
}

.decade{
    background:red;
    width:100%;
}
#button-container{
    width:100%;
    
}
#button-container-hidden{
    visibility: hidden;
    display:none;
}
.button-board{
    width:100%;
    display: flex;
    justify-content: center;
}
/* #song-container::-webkit-scrollbar {
    display: none;
} */
#song-container{
    height:850px;
    overflow:scroll;
    /* -ms-overflow-style: none;  IE and Edge */
    /* scrollbar-width: none;  Firefox */
}
.duplicate-song-container{
    display:grid;
    grid-template-columns: 3fr 1fr;
    padding:0;
    margin-top:0;
    margin-bottom:0;
}
.duplicate-song-left{
    overflow:hidden;
    text-align:left;
    margin-left:50px;
    margin-top:5px;

}
.duplicate-song-right{
}